In [1]:
import pandas as pd
import numpy as np
from datetime import datetime

In [2]:
# 1. Create a DataFrame for the US-Accident data.
file_to_load = "../US_Accidents_Dec21_updated.csv"
accidents = pd.read_csv(file_to_load)
accidents.head()

,ID,Severity,Start_Time,End_Time,Start_Lat,Start_Lng,End_Lat,End_Lng,Distance(mi),Description,...,Roundabout,Station,Stop,Traffic_Calming,Traffic_Signal,Turning_Loop,Sunrise_Sunset,Civil_Twilight,Nautical_Twilight,Astronomical_Twilight
0,A-1,3,2016-02-08 00:37:08,2016-02-08 06:37:08,40.108910,-83.092860,40.112060,-83.031870,3.230,Between Sawmill Rd/Exit 20 and OH-315/Olentang...,...,False,False,False,False,False,False,Night,Night,Night,Night
1,A-2,2,2016-02-08 05:56:20,2016-02-08 11:56:20,39.865420,-84.062800,39.865010,-84.048730,0.747,At OH-4/OH-235/Exit 41 - Accident.,...,False,False,False,False,False,False,Night,Night,Night,Night
2,A-3,2,2016-02-08 06:15:39,2016-02-08 12:15:39,39.102660,-84.524680,39.102090,-84.523960,0.055,At I-71/US-50/Exit 1 - Accident.,...,False,False,False,False,False,False,Night,Night,Night,Day
3,A-4,2,2016-02-08 06:51:45,2016-02-08 12:51:45,41.062130,-81.537840,41.062170,-81.535470,0.123,At Dart Ave/Exit 21 - Accident.,...,False,False,False,False,False,False,Night,Night,Day,Day
4,A-5,3,2016-02-08 07:53:43,2016-02-08 13:53:43,39.172393,-84.492792,39.170476,-84.501798,0.500,At Mitchell Ave/Exit 6 - Accident.,...,False,False,False,False,False,False,Day,Day,Day,Day

In [3]:
# 2. Redefine columns in dataframe
accidents_updated = accidents[['Severity', 'Start_Time', 'State', 'Temperature(F)', 'Visibility(mi)', 'Wind_Speed(mph)', 'Precipitation(in)', 
    'Weather_Condition', 'Sunrise_Sunset']].copy()
accidents_updated.head()

,Severity,Start_Time,State,Temperature(F),Visibility(mi),Wind_Speed(mph),Precipitation(in),Weather_Condition,Sunrise_Sunset
0,3,2016-02-08 00:37:08,OH,42.1,10.0,10.4,0.00,Light Rain,Night
1,2,2016-02-08 05:56:20,OH,36.9,10.0,NaN,0.02,Light Rain,Night
2,2,2016-02-08 06:15:39,OH,36.0,10.0,NaN,0.02,Overcast,Night
3,2,2016-02-08 06:51:45,OH,39.0,10.0,NaN,NaN,Overcast,Night
4,3,2016-02-08 07:53:43,OH,37.0,10.0,10.4,0.01,Light Rain,Day

In [4]:
#3. Remove NaN values
accidents_updated = accidents_updated.dropna(axis=0, how="any")
accidents_updated.head()

,Severity,Start_Time,State,Temperature(F),Visibility(mi),Wind_Speed(mph),Precipitation(in),Weather_Condition,Sunrise_Sunset
0,3,2016-02-08 00:37:08,OH,42.1,10.0,10.4,0.00,Light Rain,Night
4,3,2016-02-08 07:53:43,OH,37.0,10.0,10.4,0.01,Light Rain,Day
7,2,2016-02-08 11:51:46,OH,33.1,0.5,3.5,0.08,Snow,Day
9,2,2016-02-08 15:16:43,OH,32.0,0.5,3.5,0.05,Snow,Day
10,2,2016-02-08 15:43:50,OH,33.8,3.0,4.6,0.03,Light Snow,Day

In [5]:
#4. Add 'year' index column from 'Start_Time' column
accidents_updated['year'] = pd.DatetimeIndex(accidents_updated['Start_Time']).year
accidents_updated.head()

,Severity,Start_Time,State,Temperature(F),Visibility(mi),Wind_Speed(mph),Precipitation(in),Weather_Condition,Sunrise_Sunset,year
0,3,2016-02-08 00:37:08,OH,42.1,10.0,10.4,0.00,Light Rain,Night,2016
4,3,2016-02-08 07:53:43,OH,37.0,10.0,10.4,0.01,Light Rain,Day,2016
7,2,2016-02-08 11:51:46,OH,33.1,0.5,3.5,0.08,Snow,Day,2016
9,2,2016-02-08 15:16:43,OH,32.0,0.5,3.5,0.05,Snow,Day,2016
10,2,2016-02-08 15:43:50,OH,33.8,3.0,4.6,0.03,Light Snow,Day,2016

In [6]:
#5. Add 'date' index column from 'Start_Time' column
accidents_updated['date'] = pd.DatetimeIndex(accidents_updated['Start_Time']).date
accidents_updated.head()

,Severity,Start_Time,State,Temperature(F),Visibility(mi),Wind_Speed(mph),Precipitation(in),Weather_Condition,Sunrise_Sunset,year,date
0,3,2016-02-08 00:37:08,OH,42.1,10.0,10.4,0.00,Light Rain,Night,2016,2016-02-08
4,3,2016-02-08 07:53:43,OH,37.0,10.0,10.4,0.01,Light Rain,Day,2016,2016-02-08
7,2,2016-02-08 11:51:46,OH,33.1,0.5,3.5,0.08,Snow,Day,2016,2016-02-08
9,2,2016-02-08 15:16:43,OH,32.0,0.5,3.5,0.05,Snow,Day,2016,2016-02-08
10,2,2016-02-08 15:43:50,OH,33.8,3.0,4.6,0.03,Light Snow,Day,2016,2016-02-08

In [7]:
#6. Drop 'State_Time' column
accidents_updated = accidents_updated.drop('Start_Time', axis='columns')
accidents_updated.head()

,Severity,State,Temperature(F),Visibility(mi),Wind_Speed(mph),Precipitation(in),Weather_Condition,Sunrise_Sunset,year,date
0,3,OH,42.1,10.0,10.4,0.00,Light Rain,Night,2016,2016-02-08
4,3,OH,37.0,10.0,10.4,0.01,Light Rain,Day,2016,2016-02-08
7,2,OH,33.1,0.5,3.5,0.08,Snow,Day,2016,2016-02-08
9,2,OH,32.0,0.5,3.5,0.05,Snow,Day,2016,2016-02-08
10,2,OH,33.8,3.0,4.6,0.03,Light Snow,Day,2016,2016-02-08

In [8]:
#7. Review Dtypes for "date" column
accidents_updated.dtypes

Severity               int64
State                 object
Temperature(F)       float64
Visibility(mi)       float64
Wind_Speed(mph)      float64
Precipitation(in)    float64
Weather_Condition     object
Sunrise_Sunset        object
year                   int64
date                  object
dtype: object

In [9]:
#8. Change 'date' column to string
accidents_updated['date'] = pd.to_datetime(accidents_updated['date'])
accidents_updated.dtypes

Severity                      int64
State                        object
Temperature(F)              float64
Visibility(mi)              float64
Wind_Speed(mph)             float64
Precipitation(in)           float64
Weather_Condition            object
Sunrise_Sunset               object
year                          int64
date                 datetime64[ns]
dtype: object

In [10]:
#9. Create a PreCovid Dataframe
#accidents_updated = pd.PreCOVID_accidents(date)
start_date = '2018-06-01'
end_date = '2020-02-29'
# Select DataFrame rows between two dates
mask = (accidents_updated['date'] > start_date) & (accidents_updated['date'] <= end_date)
PreCOVID_accidents = accidents_updated.loc[mask]
PreCOVID_accidents.head()

,Severity,State,Temperature(F),Visibility(mi),Wind_Speed(mph),Precipitation(in),Weather_Condition,Sunrise_Sunset,year,date
582028,4,NJ,89.0,10.0,5.0,0.0,Fair,Day,2019,2019-10-02
1295810,4,LA,54.0,10.0,5.0,0.0,Mostly Cloudy,Day,2019,2019-11-01
1537770,4,AZ,41.0,10.0,10.0,0.0,Fair,Night,2020,2020-02-16
1568027,4,TX,79.0,10.0,25.0,0.0,Light Rain / Windy,Day,2019,2019-06-04
1756843,4,VA,37.0,10.0,0.0,0.0,Fair,Night,2019,2019-10-19

In [11]:
#10. Create a COVID Dataframe
#accidents_updated = pd.COVID_accidents(date)
start_date = '2020-03-01'
end_date = '2021-12-31'
# Select DataFrame rows between two dates
mask = (accidents_updated['date'] > start_date) & (accidents_updated['date'] <= end_date)
COVID_accidents = accidents_updated.loc[mask]
COVID_accidents.head()

,Severity,State,Temperature(F),Visibility(mi),Wind_Speed(mph),Precipitation(in),Weather_Condition,Sunrise_Sunset,year,date
224945,2,MA,42.0,10.0,12.0,0.0,Fair,Night,2021,2021-03-10
224946,2,CA,54.0,2.0,6.0,0.0,Fog,Night,2021,2021-07-30
224947,2,MD,79.0,10.0,9.0,0.0,Mostly Cloudy,Day,2021,2021-10-15
224948,2,WA,38.0,10.0,0.0,0.0,Cloudy,Day,2021,2021-12-21
224949,2,CA,52.0,10.0,9.0,0.0,Fair,Day,2021,2021-12-09

In [12]:
#11a. Get count of unique values in the 'Severity' column from 'accidents_upated' dataframe
print(accidents_updated['Severity'].value_counts())

2    2084426
3      71340
4      66076
1      23578
Name: Severity, dtype: int64

In [13]:
#11b. Get count of unique values for Severity column from 'PreCOVID_accidents'
print(PreCOVID_accidents['Severity'].value_counts())

2    228702
3     27134
4     21055
1       150
Name: Severity, dtype: int64

In [14]:
#11c. Get count of unique values for Severity Column from 'COVID_accidents'
print(COVID_accidents['Severity'].value_counts())

2    1828676
4      39448
3      36885
1      23422
Name: Severity, dtype: int64

In [15]:
#12a. Get count of unique values in the 'State' column from 'accidents_updated'
print(accidents_updated['State'].value_counts())

CA    611261
FL    355328
TX    111194
OR    100907
VA     93357
PA     88933
NY     86456
MN     85145
SC     82403
NC     75124
TN     46598
LA     43920
MD     42480
AZ     41302
NJ     40509
UT     34112
MI     31770
IL     25320
GA     24400
CT     23680
WA     21583
MO     20151
AL     17202
CO     16265
MT     14526
OH     12788
IN     12761
AR      9691
DC      8056
IA      7497
OK      7056
ID      7031
WV      6211
KS      6080
MS      4088
KY      4035
MA      3994
DE      3944
NV      3510
WI      2734
RI      2379
NE      2340
NH      1875
ND      1685
NM      1641
ME      1061
WY       660
VT       223
SD       154
Name: State, dtype: int64

In [16]:
#12b. Get count of unique values in the 'State' column from 'PreCOVID_accidents'
print(PreCOVID_accidents['State'].value_counts())

CA    125281
OR     35137
MN     17267
UT     13115
FL      9460
NY      6967
IL      6446
TX      5902
NJ      5499
CO      5236
MI      4975
GA      4689
WA      4440
VA      3494
NC      2279
MD      2090
CT      2046
AZ      2032
TN      1716
PA      1590
MO      1489
IN      1402
WI      1287
OH      1229
SC      1088
NH      1056
LA      1002
AL       972
ME       738
AR       730
RI       723
KY       667
MA       617
ID       536
NE       523
IA       510
MS       479
KS       460
WV       433
DC       296
NV       262
DE       235
NM       179
VT       144
OK       117
MT       114
WY        63
SD        21
ND         8
Name: State, dtype: int64

In [17]:
#12c. Get count of unique values in the 'State' column from "COVID_accidents"
print(COVID_accidents['State'].value_counts())

CA    480030
FL    342487
TX    103287
VA     89056
PA     85880
SC     80975
NY     76926
NC     71408
MN     66918
OR     65085
TN     44152
LA     42395
MD     39896
AZ     39054
NJ     33707
MI     24719
CT     20937
UT     20497
GA     18572
MO     17467
AL     16092
IL     16052
WA     15175
MT     14320
IN     10832
CO     10786
OH      9762
AR      8925
DC      7701
IA      6776
OK      6747
ID      6330
WV      5456
KS      5450
DE      3633
MS      3486
NV      3139
MA      3094
KY      2923
NE      1750
ND      1675
NM      1432
RI      1364
WI       952
WY       536
NH       322
SD       129
ME       100
VT        44
Name: State, dtype: int64

In [18]:
#13a. Get count of unique values in the 'Weather_Condition' column from 'accidents_updated'
print(accidents_updated['Weather_Condition'].value_counts())

Fair                              1044151
Cloudy                             335487
Mostly Cloudy                      288935
Partly Cloudy                      196112
Light Rain                         121335
                                   ...
Light Rain Shower / Windy               1
Sand / Dust Whirlwinds / Windy          1
Heavy Rain Shower / Windy               1
Heavy Ice Pellets                       1
Thunder and Hail / Windy                1
Name: Weather_Condition, Length: 115, dtype: int64

In [19]:
#13b. Get count of unique values in the 'Weather_Condition' column from 'PreCOVID_accidents'
print(PreCOVID_accidents['Weather_Condition'].value_counts())

Fair                        115198
Cloudy                       41604
Mostly Cloudy                32253
Partly Cloudy                31529
Light Rain                   18454
                             ...
Light Snow and Sleet             1
Drizzle / Windy                  1
Heavy Rain Shower                1
Light Snow Shower                1
Thunder and Hail / Windy         1
Name: Weather_Condition, Length: 87, dtype: int64

In [20]:
#13c. Get count of unique values in the 'Weather_Condition' column from 'COVID_accidents'
print(COVID_accidents['Weather_Condition'].value_counts())

Fair                         927250
Cloudy                       293072
Mostly Cloudy                253466
Partly Cloudy                163688
Light Rain                    89987
                              ...
Heavy Freezing Drizzle            1
Heavy Freezing Rain               1
Blowing Sand                      1
Sleet / Windy                     1
Sand / Dust Whirls Nearby         1
Name: Weather_Condition, Length: 95, dtype: int64

In [21]:
#14a. Get count of unique values in the 'Sunrise_Sunset' column from 'accidents_updated'
print(accidents_updated['Sunrise_Sunset'].value_counts())

Day      1401357
Night     844063
Name: Sunrise_Sunset, dtype: int64

In [22]:
#14b. Get count of unique values in the 'Sunrise_Sunset' column from 'PreCOVID_accidents'
print(PreCOVID_accidents['Sunrise_Sunset'].value_counts())

Day      181813
Night     95228
Name: Sunrise_Sunset, dtype: int64

In [23]:
#14c. Get count of unique values in the 'Sunrise_Sunset' column from 'COVID_accidents'
print(COVID_accidents['Sunrise_Sunset'].value_counts())

Day      1191248
Night     737183
Name: Sunrise_Sunset, dtype: int64

In [25]:
#15a. Get count of unique values in the 'year' column from 'accidents_updated'
print(accidents_updated['year'].value_counts())

2021    1419863
2020     575031
2019     198861
2018      21139
2017      19517
2016      11009
Name: year, dtype: int64

In [26]:
#15b. Get count of unique values in the 'year' column from 'PreCOVID_accidents'
print(PreCOVID_accidents['year'].value_counts())

2019    198861
2020     65722
2018     12458
Name: year, dtype: int64

In [27]:
#15c. Get count of unique values in the 'year' column from 'COVID_accidents'
print(COVID_accidents['year'].value_counts())

2021    1419863
2020     508568
Name: year, dtype: int64